<div class="sign-in-text">Sign in </div>
<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= form_tag session_path, id: "login-form" do %>
  <div class="form-group">
    <%= label_tag :email, "Email" %>
    <%= text_field_tag :email, nil, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password, nil, class: "form-control", required: true %>
  </div>

  <%= submit_tag "Login", class: "sign-in-btn" %>
<% end %>
