<div class="exam-show-container import-file-container">
  <h1 class="text-center">Import exam file from excel</h1>
  <%= link_to download_exam_template_path do %>
    <button class="btn2" style="border: none">Download template</button>
  <% end %>

  <% if @exam_file.errors.present? %>
    <div class="error-field">
      <% @exam_file.errors.messages.each do |key, value| %>
        <% value.each do |v| %>
          <div>Error at <%= key.to_s.humanize.downcase %>:&nbsp<%= v.split(".").join(" ") %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= form_tag upload_exam_file_path, multipart: true, method: :post do %>
    <div class="form-group">
      <%= label_tag :category_id, "Category" %>
      <%= select_tag :category_id, options_for_select(Category.all.pluck(:name, :id), selected: @exam_file.category_id), class: "form-control", required: true %>
    </div>

    <div class="form-group <%= "with-error" if @exam_file.errors.messages[:name].present? %>">
      <%= label_tag :name, "Name" %>
      <%= text_field_tag :name, @exam_file.name || nil, class: "form-control", required: true %>
    </div>

    <div class="form-group <%= "with-error" if @exam_file.errors.messages[:name].present? %>">
      <%= label_tag :time, "Time" %>
      <%= number_field_tag :time, @exam_file.time || nil, min: 0, class: "form-control", required: true %>
    </div>

    <div class="form-group <%= "with-error" if @exam_file.errors.messages[:name].present? %>">
      <%= label_tag :number_of_questions, "Number of question when generate test" %>
      <%= number_field_tag :number_of_questions, @exam_file.number_of_questions || nil, min: 0, class: "form-control", required: true %>
    </div>

    <div class="form-group">
      <h4>Questions data</h4>
      <label for="file" class="custom-file-upload">Choose file to Upload</label>
      <%= file_field_tag "file", required: true %>
      <span id="file-name-span">No file chosen<span>
    </div>
    <div class="form-group">
      <%= submit_tag "Upload", class: "btn2", id: "upload-exam-csv" %>
    </div>
  <% end %>
</div>
