<tr id="exam-<%= exam.id %>">
  <td><%= exam.name %></td>
  <td><%= questions_count[exam.id] %></td>
  <td><%= exam.time %></td>
  <td><%= exam.category.name %></td>
  <td class="action-td">
    <div>
      <%= link_to category_exam_path(exam.category.id, exam.id), class: "btn" do %>
        <span><%= image_tag "eye.svg", class: "small-icon" %></span>
        <span class="text-in-btn">View</span>
      <% end %>
      <button class="btn btn-danger exam-delete-btn" data-id="<%= exam.id %>" data-category-id="<%= exam.category.id %>">
        <span><%= image_tag "delete.svg", class: "small-icon" %></span>
        <span class="text-in-btn">Delete</span>
      </button>
    </div>
  </td>
</tr>
