<%= form_for [@category, @exam] do |f| %>

  <%= f.label :category, "Category" %>
  <%= f.text_field :category, value: @category.name, disabled: true %>

  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :number_of_questions, "Number of question" %>
  <%= f.number_field :number_of_questions, min: "1" %>

  <%= f.label :time, "Time" %>
  <%= f.number_field :time, min: "1" %>

  <div>Questions list</div>

  <%= f.fields_for :questions, @questions do |x| %>
    <%= link_to_add_field( "Add question", f, :questions, class: "add_field ") %>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>
