<div class="exam-show-container">
  <div class="test-info-container">
    <%= link_to edit_category_exam_path(@exam.category, @exam), class: "float-right clear btn" do %>
      Edit exam
    <% end %>
    <div>
      Category: <%= @exam.category.name %>
    </div>

    <div>
      Name: <%= @exam.name %>
    </div>
    <div>
      Number of question: <%= @exam.questions.count %>
    </div>

  </div>

  <% @questions.each.with_index do |q, index| %>
    <div class="question-area">
      <div><%= index + 1%>. &nbsp<span class="question-name"><%= q.name %></span><div>
      <div class="answers-list">
        <% if q.is_multi? %>
          <% q.answers.each do |a| %>
            <div>
              <%= check_box_tag ("answer_id_#{a.id}").to_sym, a.id %>
              <% if a.is_correct? %>
                <strong class="correct-answer"><%= label_tag ("answer_id_#{a.id}").to_sym, a.content %></strong>
              <% else %>
                <%= label_tag ("answer_id_#{a.id}").to_sym, a.content %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% q.answers.each do |a| %>
            <div>
              <%= radio_button_tag ("answer_id_#{a.id}").to_sym, a.id %>
              <% if a.is_correct? %>
                <strong class="correct-answer"><%= label_tag ("answer_id_#{a.id}").to_sym, a.content %></strong>
              <% else %>
                <%= label_tag ("answer_id_#{a.id}").to_sym, a.content %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>
    </div>
  <% end %>
</div>
