<div>Test of <%= @test.exam.name %></div>
<div>Time: <%= @test.exam.time %>


<% if @test.status == "not_tested" %>
  <%= form_for @test, method: :patch do |f| %>
    <%= @questions.each.with_index(1) do |q, index| %>
      <div><%= index %>. &nbsp<%= q.name %></div>
      <% if q.is_multi? %>
        <%= q.answers.each do |a| %>
          <div>
            <%= check_box_tag ("question[#{q.id}][]").to_sym, a.id, false, {id: "question_#{q.id}_#{a.id}"} %>
            <%= label_tag ("question_#{q.id}_#{a.id}").to_sym, a.content %>
          </div>
        <% end %>
      <% else %>
        <%= q.answers.each do |a| %>
          <div>
            <%= radio_button_tag ("question[#{q.id}]").to_sym, a.id %>
            <%= label_tag ("question_#{q.id}_#{a.id}").to_sym, a.content %>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <%= f.submit "Submit" %>
  <% end %>
<% else %>
  <%= @questions.each.with_index(1) do |q, index| %>
    <div><%= index %>. &nbsp<%= q.name %></div>
    <%= q.answers.each do |a| %>
      <div>
        <%= radio_button_tag ("question[#{q.id}]").to_sym, a.id %>
        <%= label_tag ("question_#{q.id}_#{a.id}").to_sym, a.content %>
      </div>
    <% end %>
  <% end %>
<% end %>
