<div class="test-info-container">
  <div>Test of <%= @test.exam.name %></div>
  <div>Time: <%= @test.exam.time %> min</div>
  <div>Number of questions: <%= @test.questions.count %>
  <div>Status: <span id="test-status-info"><%= @test.status.humanize %> </div>
  <% if @test.status == "tested" %>
    <div>Score: <strong><%= @test.score %>/20</strong></div>
  <% end %>
</div>

<% if @test.status == "not_tested" %>
  <%#= render partial: "tests/test" %>
  <div class="clock-container">
    <span id="hour"><%= @test.remain_mins %></span>
    <span class="">:</span>
    <span id="min"><%= @test.remain_secs %></span>
  </div>
<% end %>

<div class="test-container">
  <%#  NOT TESTED STATUS %>
  <% if @test.status == "not_tested" %>
    <%= form_for @test, method: :patch do |f| %>
      <% @questions.each.with_index(1) do |q, index| %>
        <div class="question-area question-area-id-<%= q.id %>">

          <div class="question-name"><%= index %>. &nbsp<%= q.name %></div>
          <% if q.is_multi? %>
            <% q.answers.each do |a| %>
              <div class="checkbox">
                <%= check_box_tag ("question[#{q.id}][]").to_sym, a.id, false, {id: "question_#{q.id}_#{a.id}"} %>
                <%= label_tag ("question_#{q.id}_#{a.id}").to_sym, a.content, class: "label" %>
              </div>
            <% end %>
          <% else %>
            <% q.answers.each do |a| %>
              <div class="radio">
                <%= radio_button_tag ("question[#{q.id}][]").to_sym, a.id, false, {id: "question_#{q.id}_#{a.id}"} %>
                <%= label_tag ("question_#{q.id}_#{a.id}").to_sym, a.content, class: "label" %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div>
        <%= f.submit "Submit", id: "test-submit-btn", class: "sign-in-btn" %>
      </div>
    <% end %>

  <%# TESTED STATUS %>
  <% else %>
    <% @test_answers.includes(:question).each.with_index(1) do |ta, index| %>
      <div class="question-area">
        <% if ta.answer == ta.correct_answer %>
          <div class="question-name corect-answer"><%= index %>. &nbsp<%= ta.question.name %></div>
        <% else %>
          <div class="question-name"><%= index %>. &nbsp<%= ta.question.name %></div>
        <% end %>
        <% if ta.question.is_multi? %>
          <% ta.question.answers.each do |a| %>
            <div class="checkbox">
              <% if ta.answer.include?(a.id.to_s) && ta.correct_answer.include?(a.id.to_s) %>
                <%= check_box_tag ("question[#{ta.question.id}][]").to_sym, a.id, false, {id: "question_#{ta.question.id}_#{a.id}", disabled: true} %>
                <strong class="correct-answer"><%= label_tag ("question_#{ta.question.id}_#{a.id}").to_sym, a.content, class: "label" %></strong>
              <% elsif ta.answer.include?(a.id.to_s) && !ta.correct_answer.include?(a.id.to_s) %>
                <%= check_box_tag ("question[#{ta.question.id}][]").to_sym, a.id, false, {id: "question_#{ta.question.id}_#{a.id}", disabled: true} %>
                <strong class="wrong-answer"><%= label_tag ("question_#{ta.question.id}_#{a.id}").to_sym, a.content, class: "label" %></strong>
              <% elsif !ta.answer.include?(a.id.to_s) && ta.correct_answer.include?(a.id.to_s) %>
                <%= check_box_tag ("question[#{ta.question.id}][]").to_sym, a.id, false, {id: "question_#{ta.question.id}_#{a.id}", disabled: true} %>
                <strong class="correct-answer"><%= label_tag ("question_#{ta.question.id}_#{a.id}").to_sym, a.content, class: "label" %></strong>
              <% else %>
                <%= check_box_tag ("question[#{ta.question.id}][]").to_sym, a.id, false, {id: "question_#{ta.question.id}_#{a.id}", disabled: true} %>
                <%= label_tag ("question_#{ta.question.id}_#{a.id}").to_sym, a.content, class: "label" %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% ta.question.answers.each do |a| %>
            <div class="radio">
              <%= radio_button_tag ("question[#{ta.question.id}][]").to_sym, a.id, false, {id: "question_#{ta.question.id}_#{a.id}", disabled: true} %>

              <%# neu answer co trong asnwer va trogn correct -> xanh %>
              <%# cos trong answer va ko cos trong correct -> do %>
              <%# khong co trong answer cos trong correct -> xanh %>
              <%# khong co trong ca 2: -> thuong %>

              <% if ta.answer.include?(a.id.to_s) && ta.correct_answer.include?(a.id.to_s) %>
                <strong class="correct-answer"><%= label_tag ("question_#{ta.question.id}_#{a.id}").to_sym, a.content, class: "label" %></strong>
              <% elsif ta.answer.include?(a.id.to_s) && !ta.correct_answer.include?(a.id.to_s) %>
                <strong class="wrong-answer"><%= label_tag ("question_#{ta.question.id}_#{a.id}").to_sym, a.content, class: "label" %></strong>
              <% elsif !ta.answer.include?(a.id.to_s) && ta.correct_answer.include?(a.id.to_s) %>
                <strong class="correct-answer"><%= label_tag ("question_#{ta.question.id}_#{a.id}").to_sym, a.content, class: "label" %></strong>
              <% else %>
                <%= label_tag ("question_#{ta.question.id}_#{a.id}").to_sym, a.content, class: "label" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
