<div id="mySidebar" class="sidebar-parent">
  <div class="sidebar2">
    <div class="ul-fake">
      <div class="li-fake">
        <a href="#">
        <%= link_to admin_path do %>
          <div>
            <%= image_tag "organize.svg" %>
            <span class="parent-text-2">Dashboard</span>
          </div>
        <% end %>
      </div>

      <div class="li-fake">
        <%= link_to '#' do %>
          <div>
            <%= image_tag "organize.svg" %>
            <span class="parent-text-2">Exams management</span>
          </div>
          <div class="expandable-2">
          <div>
            <%= link_to upload_exam_file_path do %>
              <div>
                <span>Import from excel</span>
              </div>
            <% end %>
          </div>
          <div>
            <%= link_to new_category_exam_path(Category.first) do %>
              <div>
                <span>Create exam</span>
              </div>
            <% end %>
          </div>
          <div>
            <%= link_to exams_path do %>
              <div>
                <span>All exams</span>
              </div>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="li-fake">
        <a href="#">
          <div>
            <%= image_tag "organize.svg" %>
            <span class="parent-text-2">Test management</span>
          </div>
        </a>
        <div class="expandable-2">
          <div>
            <%= link_to tests_path do %>
              <div>
                <span>All tests</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="li-fake">
        <a href="#">
          <div>
            <%= image_tag "organize.svg" %>
            <span class="parent-text-2">Users management</span>
          </div>
        </a>
        <div class="expandable-2">
          <div>
            <%= link_to users_path do %>
              <div>
                <span>All users</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
