<div id="mySidebar" class="sidebar-parent">
  <div class="sidebar2">
    <div class="ul-fake">
      <div class="li-fake">
        <a href="#">
        <%= link_to '/home' do %>
          <div>
            <%= image_tag "organize.svg" %>
            <span class="parent-text-2">Dashboard</span>
          </div>
        <% end %>
      </div>
      <div class="li-fake">
        <%= link_to user_path(current_user) do %>
          <div>
            <%= image_tag "organize.svg" %>
            <span class="parent-text-2">Profile</span>
          </div>
        <% end %>
      </div>
      <div class="li-fake">
        <a href="#">
          <div>
            <%= image_tag "organize.svg" %>
            <span class="parent-text-2">Test management</span>
          </div>
        </a>
        <div class="expandable-2">
          <div>
            <%= link_to "/home" do %>
              <div>
                <span>Do test</span>
              </div>
            <% end %>
          </div>
          <div>
            <%= link_to tests_path(status: "testing") do %>
              <div>
                <span>Pending test</span>
              </div>
            <% end %>
          </div>
          <div>
            <%= link_to tests_path(status: "tested") do %>
              <div>
                <span>Finished test</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
